@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700&display=swap');

/* Universal CSS */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Merriweather', 'Inter', sans-serif;
    font-style: normal;
    line-height: normal;
}

.btn{
    background: rgba(255, 0, 0, 0.9);
    border-radius: 8px;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
}
.btn:hover{
    background: rgba(255, 0, 0, 0.6);
    color: #fff;
}

.container {
    width: 82.5%;
    margin: 0 auto;
}





/* HEADER SECTION */

header{

}

.bg-image{
    margin-top: 3.125rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgba(0,0,0, 0.5), rgba(0,0,0,1)), url("./resources/Banner\ Image.png");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
    height: 37.5rem;
}
.banner-text{
    text-align: center;
    max-width: 39.5rem;
}

.banner-h3{
    color: #fff;
    font-size: 2rem;
    font-weight: 400;
}

.banner-h1{
    color: #fff;
    font-size: 4rem;
    font-weight: 900;
    line-height: 6rem;
}





/* DISCOUNT SECTION  */

.discount{
    width: 50rem;
    margin: 0 auto;
    margin-bottom: 7.5rem;
}

.discount > .text{

}

.discount > .text > .off{
    font-family: 'Inter', sans-serif;
    text-align: center;
    text-transform: uppercase;
    color: #F00;
    font-weight: 700;
    font-size: 5.5rem;
    margin: 7.5rem 0rem 3rem;
}

.deals{
    text-align: center;
    font-family: 'Inter', sans-serif;
    text-transform: uppercase;
    color: #F00;
    font-weight: 500;
    font-size: 1.5rem;
    padding-bottom: 1rem;
}

.discount > .text > .categories{
    font-family: 'Inter', sans-serif;
    text-align: center;
    text-transform: uppercase;
    color: #070211;
    font-weight: 700;
    font-size: 3rem;
    margin-bottom: 3rem;
}

.vector > img{
    height: 31.25rem;
    width: 50rem;
}




/* PARTY BANNER  */

.banner-party{

}
.banner-img{

    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('./resources/Vectorrr.png');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
    height: 37.5rem;
    width: 100%;
}
.banner-holder{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto 7rem;
}

.banner-text{
    
}

.banner-text .party-h{
    font-size: 4rem;
    font-weight: 900;
    line-height: 5.5rem;
    letter-spacing: 0.44rem;
    text-align: left;
    color: #fff;
    margin-bottom: 1.5rem;
    font-family: 'Merriweather', sans-serif;
}

.banner-text .party-p{
    color: rgba(255,255,255, 0.88);
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    line-height: 1.875rem;
    text-align: left;
}
.join{
    text-transform: uppercase;
    font-size: 1.25rem;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
    text-align: left;
    background: transparent;
    border: none;
    color: #fff;
    margin-top: 3rem;
    display: block;
    padding: 0.25rem 0.5rem;
}

.vector-2024{
    height: 29rem;
    width: 20rem;
}



/* Party Location and Time  */

.location{
    margin-top: 9.75rem;
    background-image: linear-gradient(0deg, rgba(255, 0, 0, 0.0), rgba(255, 0, 0, 0.10));
    height: 30rem;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.info{

}

.info h1{
    text-align: center;
    color: #070211;
    font-family: 'Inter', sans-serif;
}

.info > h1 > span {
    color: #F00;
    font-size: 2rem;
    line-height: 3.5rem;
    font-weight: 600;
    font-family: 'Inter', sans-serif;
}

.info > button{
    margin: 3rem auto;
    justify-content: center;
    padding: 1rem;
    border: none;
    font-family: 'Inter', sans-serif;
    display: block;
}



/* COMING SOON SECTION  */

.coming-soon{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 7.5rem;
}
.text-left{
    text-align: left;
}
.best-offer{
    max-width: 25rem;
}
.hOne{
    color: #070211;
    font-size: 3rem;
    font-weight: 900;
    text-transform: capitalize;
    text-align: left;
    margin-bottom: 3rem;
}
.best-offer p{
    color: rgba(7, 2, 17, 0.6);
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 2rem;
    font-family: 'Inter', sans-serif;
    padding-right: 1.5rem;
}

.circular-img img{
    border: 1rem solid #F00;
    border-radius: 50%;
    padding: 2rem;
    height: 22rem;
    width: 22rem;
}

.new-year{
    padding: 3rem 0rem 0rem 4rem;
}
/* .flex-end{
    display: flex;
    align-items: flex-end;
} */
.year{
    color: #F00;
    font-family: 'Inter', sans-serif;
    font-size: 3rem;
    font-weight: 700;
    padding-bottom: 1rem;
}
.new-year p{
    color: rgba(7, 2, 17, 0.6);
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 2rem;
    font-family: 'Inter', sans-serif;
}
.new-year img{
    margin-top: 2.75rem;
}

/* HOLIDAY SALE SECTION  */

.holiday{
    margin-top: 7.5rem;
}
.holiday > h3{
    text-transform: uppercase;
    padding-bottom: 1rem;
    color: #070211;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
    text-align: center;
}

.holiday > h1{
    text-align: center;
    font-size: 4.5rem;
    font-weight: 900;
    color: #070211;
    margin-bottom: 1.75rem;
}

.holiday > h1 > span{
    text-align: center;
    font-size: 4.5rem;
    font-weight: 900;
    color: #F00;
}



/* THE BEST GIFTS */

.pText{
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 2rem;
    margin-bottom: 4.25rem;
}

.discount-grid{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    row-gap: 0;
}


.gift p{
    max-width: 62rem;
    text-align: left;
    margin-bottom: 3rem;
}

.photo-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem;
}


/* SUBSCRIBE NEWSLETTER */

.newsletter{
    margin-top: 9.75rem;
    background-image: linear-gradient(0deg, rgba(255, 0, 0, 0.1), rgba(255, 0, 0, 0.10));
    height: auto;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5rem 0;
}
.subscribe{
    margin: 6.5rem 0;
}
.subscribe img{
    display: block;
    margin: 0 auto;
}
.subscribe > .hOne{
    margin: 2.5rem 0 1.5rem;
    text-align: center;
}
.subscribe .pText{
    max-width: 62rem;
    margin-bottom: 3rem;
}

form{
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding-bottom: 6rem; */
}
form > input{
    width: 28rem;
    height: 4.5rem;
    padding: 1.5rem;
    border: none;
    border-top-left-radius: 35px;
    border-bottom-left-radius: 35px;
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    /* border-radius: 50px; */
}
form .btn{
    border: none;
    padding: 1.71875rem 2rem;
    border-radius: 0;
    font-family: 'Inter', sans-serif;
    text-transform: capitalize;
    border-top-right-radius: 35px;
    border-bottom-right-radius: 35px;
}


/* FOOTER  */

.content{
    background: #070211;
    height: auto;
}

.top, .middle{
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

.adress {
    padding: 7.5rem 0 0;
    display: flex;
    justify-content: space-between;
}
.adress  p, .bottom p{
    color: #fff;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 2.5rem;
    font-family: 'Inter', sans-serif;
}
.adress img{
    padding:0.5rem 0.5rem 0 0;
}

.social{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 3rem 0;
}

.bottom > .rights {
    display: flex;
    justify-content: space-between; 
    padding: 3rem 0rem 7.5rem;
}